body {
    background-image: url(../img/bg5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container {
    width: 960px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 1px;
    background-color: #989898;
}

.container p {
    padding: 1px;
}

.main-header {
    text-align: center;
    padding: 1px;
    background-image: url(../img/banner.jpg);
}

.main-header__avatar {
    width: 15%;
    display: block;
    margin: 0 auto;
    margin-top: -40px;
    border: 3px solid white;
    border-radius: 999px;
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}

.main-header h1 {
    margin-top: -8px;
    margin-bottom: -8px;
    font-weight: 300;
    font-size: 50px;
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    text-shadow: 0 1px rgba(0,0,0,0.3);
}
